name : pipeline

on :

  push :

    branches :

      - main

jobs :

  build :

    runs-on : ubuntu-latest

    steps :
      - name : Checkout
        uses : actions/checkout@v4

      - name : Set up Python
        uses : actions/setup-python@v4
        with :
          python-version : '3.11'

      - name : Install dependencies
        run : |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name : Build Docker image
        run : |
          docker build -t pet-segmentation -f Dockerfile .

      - name : Run docker container
        run : |
          docker run -it --name pet-segmentation -p "4000:4000" pet-segmentation